<div class="main-container">
  <h2>ABOUT</h2>
</div>
<div class="body-container">
  <h1>E-Product Price Tracker</h1>
  <br />
  <h4 style="padding: 10px 20px; display: block">
    Online websites like Amazon, Flipkart and many more website uses dynamic
    pricing because of which prices changes periodically depending on market and
    various other aspect.
  </h4>
  <h4 style="padding: 10px 20px; display: block">
    E Product Price tracker is an online website that tracks prices of an online
    product and notify the user on the price drop. User can add multiple items
    and track the prices of the products simultaneously. It saves precious time
    of user where user does not have to check the website and browse through all
    the products before buying it. User need not to check daily websites like
    Amazon, Flipkart our website will do this for the user. We will notify our
    user through email or user can check directly by logging into our website.
  </h4>
  <h4 style="padding: 10px 20px; display: block">
    We will use web scrapping technology to get the prices of the product from
    their respective websites and show them on our website. And HTML for
    structuring our website and CSS for styling of our website. JavaScript for
    main functioning of our website. With help of back-end languages like
    Node.js, ExpressJS, EJS Templating and MongoDB we have used it for storing
    data and connecting our website to our database.
  </h4>
  <h1 style="padding: 15px 0px">Components Used</h1>
  <img style="height: 250px" src="images/about1.png" alt="Puppeteer" />
  <p style="padding: 20px 20px">
    Puppeteer is a Node library which provides a high-level API to control
    headless Chrome or Chromium over the DevTools Protocol. It can also be
    configured to use full (non-headless) Chrome or Chromium It is the main tool
    that is used for web scrapping to get data from website like
    Amazon,Flipkart. It runs asynchronously in the background and does the work.
    It uses chrominum browser for internet browsing
  </p>
  <img src="images/about2.png" alt="NodeMailer" />
  <p style="padding: 20px 20px">
    Nodemailer is a module for Node.js applications to allow easy as cake email
    sending. The project got started back in 2010 when there was no sane option
    to send email messages, today it is the solution most Node.js users turn to
    by default. Nodemailer is used to send mail to the user to notify the user
    about the price drop on the product.
  </p>
</div>
