<%- include("header" )-%>
<div class="main-container">
    <h2>ABOUT</h2>
</div>
<div class="body-container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id perspiciatis sed expedita quas tempora aliquid numquam excepturi iste voluptatibus dicta? Natus ipsam laboriosam, veritatis omnis quam deserunt illum aut vitae blanditiis quas aperiam adipisci, facilis exercitationem dicta beatae deleniti consectetur officiis quos accusamus dolores culpa ullam esse porro voluptas? Quibusdam quidem quod sit quas cumque eveniet aliquid, nobis sint fugit! Magnam distinctio cumque, est at ex amet repellat dolor aperiam sed quibusdam. Quia quo et sed explicabo nostrum ipsa in magni, quis nisi officiis obcaecati debitis beatae! Velit non fuga unde, voluptates rem, ducimus voluptatem debitis quidem ea earum ut.</p>
</div>
<%- include("footer") -%>