<%- include("header" )-%>
<div class="main-container">
    <h2>CONTACT US</h2>
</div>
<div class="body-new" style="padding: 25px;">
    <div class="left" style="float: left; background-color: lightgray;width: 40%;border-radius: 10px; padding: 15px 0;">
        <img src="images/mayank.jpg" alt="" style="height: 200px;">
        <h2 style="color: black;">Mayank Kumar Singh</h2>
        <p>University No. 181500378</p>
        <p>University Email : mayank.singh1_cs18@gla.ac.in</p>
    </div>
    <div class="right" style="float: right;background-color: lightgray;width: 40%; border-radius: 10px;margin-bottom: 25px; padding: 15px 0;">
        <img src="images/priyam.jpg" alt=""style="height: 200px;">
        <h2 style="color: black;">Priyam Srivastava</h2>
        <p>University No. 181500508</p>
        <p>University Email : priyam.srivastava_cs18@gla.ac.in</p>
    </div>
</div>
<%- include("footer") -%>