<%- include("header" )-%>
<div class="main-container">
    <h2>CONTACT US</h2>
</div>
<div class="body-container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa pariatur ducimus ipsum deleniti esse nisi veniam delectus labore voluptas aut nesciunt saepe quibusdam soluta, cum ipsa maxime magnam vel neque non corporis. Aut voluptate id tempora dolores esse voluptates illum quisquam commodi, ea iste nulla blanditiis, nam distinctio inventore reprehenderit impedit eaque accusamus eveniet! Nostrum, dolor vel? Eius facere harum facilis? Quibusdam culpa numquam id asperiores, ad ipsum, ex in dignissimos iure laboriosam sequi perferendis, natus minus fugiat cupiditate delectus! Facilis inventore similique aspernatur distinctio, dolorum officiis optio autem totam alias veritatis cupiditate veniam necessitatibus, eius, quia soluta adipisci unde!</p>
</div>
<%- include("footer") -%>