<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | E-Product Price Tracker</title>
    <link rel="stylesheet" href="../css/logincss.css">
</head>
<body>
    <header>
        <h2>E-Product Price Tracker</h2></i>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contacts</a></li>
          <li><a href="aboutus">About us</a></li>
        </ul>
      </header>