<div class="login">
    <div class="left"></div>
    <div class="right">
  <form action="/users/login" method="POST" >
    <div class="first">
    <p> <strong>Login</strong></p>
    <%- include("./partials/message")%>
    </div>
    <br>
    <div class="second">
    <label for="email"></label><br>
    <input type="email" name="email" id="name" placeholder="Your Email" required><br> <br>
    <label for="pass"></label><br>
    <input type="password" name="password" id="pass" placeholder="Your Password" required><br> <br>
    <div class="loginS"><h5>Don't have an account? <a href="signup">SignUp</a></h5></div>
    <div class="invalid">Incorrect Useremail / Password! Try Again </div>
    <br>
    <input type="submit" value="LOG IN"></input>
    </div>
  </form>
  <p>or Sign in with</p>
  <div class="bottom">
    <a href=""> <i class="fa fa-facebook-official"></i></a>
    <a href=""><i class="fa fa-google-plus"></i></a>
    <a href=""><i class="fa fa-github"></i></a>
  </div>
  </div>
  </div>