<section class="left">
</section>
<section class="right">
  <section>
    <h1>Sign Up !</h1>
    <p>Sign up and join the fun</p>
    <%- include("./partials/message")%>
  </section>
<form action="/users/signup" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Enter Your Name ...">
  <label for="email">Email Address *</label>
  <input type="email" name="email" id="email" required placeholder="Enter Your Email ... ">
  <label for="password">Password *</label>
  <input type="password" name="password" id="password" required placeholder="Enter Your Password ...">
  <label for="password">Repeats Password *</label>
  <input type="password" name="password2" id="password2" required placeholder="Enter Your Password ...">
  <div class="term">
    <input type="checkbox" id="term" required> I accept to the <a href="">Terms and Conditions</a> and want to recieve updates
  </div>
 <div class="btn">
  <input type="submit" value="SIGN UP">
 </div>
 <div class="loginS"><h5>Already have an account? <a href="login">Login</a></h5></div>
</form>
<p>or Sign in with</p>
<div class="bottom">
  <a href=""> <i class="fa fa-facebook-official"></i></a>
  <a href=""><i class="fa fa-google-plus"></i></a>
  <a href=""><i class="fa fa-github"></i></a>
</div>
</section>
</main>