* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #555;
}
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgb(241, 241, 241) url("/images/load.gif") no-repeat center;
}
/* -------------------------------------- */
/* REUSABLE COMPONENT */
/* -------------------------------------- */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgb(241, 241, 241) url("/images/load.gif") no-repeat center;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}
h1 {
  font-weight: 400;
  font-size: 240%;
}
h2 {
  margin-bottom: 30px;
  text-align: center;
}

h2::after {
  display: block;
  height: 2px;
  content: " ";
  width: 100px;
  margin: auto;
  margin-top: 30px;
  background-color: #eab543;
}
p {
  line-height: 145%;
  font-weight: 400;
}
a:link,
a:visited {
  color: #eab543;
  text-decoration: none;
  transition: border-bottom 0.2s, color 0.2s;
}
section {
  padding: 80px 0;
}
.btn {
  font-weight: 400;
  padding: 10px 20px !important;
  border-radius: 8px !important;
}
.btn-full:link,
.btn-full:visited {
  background-color: #eab543 !important;
  color: #fff !important;
  transition: background-color 0.2s, color 0.2s !important;
}
.btn-full:hover,
.btn-full:active {
  color: #555;
  background-color: #eaa743 !important;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #eab543 !important;
  color: #eab543 !important;
  transition: background-color 0.2s, color 0.2s, border 0.2s !important;
}
.btn-ghost:hover,
.btn-ghost:active {
  color: #fff !important;
  background-color: #eab543;
}
/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */
header {
  min-height: 100vh;
  height: fit-content;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/navBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
  background-position: center;
}
.header-top {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.header-content {
  margin: auto;
  color: #fff;
  width: 85%;
  flex-direction: column;
}
.header-content p {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-nav {
  display: flex;
  margin: 55px 15px 0 0;
}
#open {
  display: none;
  margin: 55px 15px 0 0;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  padding: 0 0 10px 0;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #eab543;
}
.logo {
  height: 100px;
  margin: 20px 0 0 0;
}
/* -------------------------------------- */
/* ABOUT US */
/* -------------------------------------- */

.section-aboutus-content {
  display: flex;
  width: 90%;
  margin: auto;
}
.aboutus-box {
  width: 25%;
  margin: 2%;
  opacity: 0;
}
.aboutus-box.animated {
  opacity: 1;
}
.aboutus-box img {
  width: 100%;
  height: 150px;
}
.aboutus-box p {
  font-weight: 400;
  font-size: 90%;
}
.aboutus-box h4 {
  margin-bottom: 15px;
  text-align: center;
}
.aboutus-box h4::before {
  display: block;
  height: 2px;
  content: " ";
  width: 100%;
  margin: auto;
  margin: 30px 0;
  background-color: #eaa743;
}
/* -------------------------------------- */
/* CONTACT US */
/* -------------------------------------- */
.section-contactus {
  min-height: 95vh;
  height: fit-content;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/contactBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.section-contactus h2 {
  color: #fff;
}
.section-contactus-main {
  display: flex;
  margin: auto;
  width: 78%;
}
.section-contactus-main img {
  width: 40%;
  margin-right: 30px;
}
.contactus-content {
  flex-grow: 1;
  color: #fff;
}
.contactus-content a {
  display: block;
  color: #fff;
  margin: 15px 0;
  font-weight: 400;
}
.myImage {
  opacity: 0;
}
.myImage.animated {
  opacity: 1;
}
/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  text-align: center;
  color: #fff;
}
/* -------------------------------------- */
/* Media Querry */
/* -------------------------------------- */

@media (max-width: 850px) {
  h1 {
    font-weight: 400;
    font-size: 140%;
  }
  p {
    line-height: 105%;
    font-weight: 400;
  }
  .section-aboutus-content {
    flex-direction: column;
    align-items: center;
  }
  .aboutus-box {
    margin-top: 25px;
    width: 75%;
  }
  .aboutus-box img {
    width: 100%;
    height: 250px;
  }
  .section-contactus-main {
    flex-direction: column;
    align-items: center;
  }
  .contactus-content {
    margin-top: 25px;
  }
  .section-contactus-main img {
    width: 55%;
  }
}
@media (max-width: 650px) {
  p {
    line-height: 85%;
    font-weight: 400;
  }
  .aboutus-box {
    width: 95%;
  }
  .main-nav {
    display: none;
  }
  #open {
    display: block;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
  }
}
